@font-face {
  font-family: 'fontello';
  src:         url('../assets/fonts/fontello/fontello.woff2') format('woff2'),
               url('../assets/fonts/fontello/fontello.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family:             "fontello", Arial, sans-serif;
  font-style:              normal;
  font-weight:             normal;
  speak:                   none;

  display:                 inline-block;
  text-decoration:         inherit;
  width:                   1em;
  margin-right:            .2em;
  text-align:              center;

  font-variant:            normal;
  text-transform:          none;

  line-height:             1em;

  margin-left:             .2em;

  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-facebook:before { content: '\f052'; }
.icon-vkontakte:before { content: '\f189'; }
.icon-instagram:before { content: '\f31e'; }

