.slider {
  margin-right: 56px;
  max-width:    654px;
  width:        100%;

  @include w-to(1200px) {
    max-width:    441px;
    width:        100%;
    height:       438px;
    margin-right: 0;
  }
  @include w-to(750px) {
    height: 292px;
  }

  &__items {
    border:         1px solid #e8e8e8;
    padding-top:    48px;
    padding-bottom: 60px;
    margin-bottom:  18px;

    max-width:      654px;
    width:          100%;

    @include w-to(1200px) {
      padding-bottom: 50px;
      max-width:      441px;
      width:          100%;

      .slick-prev {
        display:          block;
        position:         absolute;
        width:            48px;
        height:           48px;
        background-color: #00b5ee;
        opacity:          0.6;
        border-radius:    50%;
        top:              50%;
        left:             -77px;
        z-index:          10;

        @include w-to(750px) {
          left: -13px;
        }

        &:focus, &:hover {
          background: #00b5ee;
          color:      initial;
          outline:    initial;
        }

        &:before {
          border:         2px solid white;
          content:        "";
          position:       absolute;
          border-left:    none;
          border-top:     none;
          height:         10px;
          width:          10px;
          transform:      rotate(135deg);
          pointer-events: none;
          top:            38%;
          left:           43%;
        }
      }

      .slick-next {
        display:          block;
        position:         absolute;
        width:            48px;
        height:           48px;
        background-color: #00b5ee;
        opacity:          0.6;
        border-radius:    50%;
        top:              50%;
        right:            -77px;
        z-index:          10;

        @include w-to(750px) {
          right: -13px;
        }

        &:focus, &:hover {
          background: #00b5ee;
          color:      initial;
          outline:    initial;
        }

        &:before {
          border:         2px solid white;
          content:        "";
          position:       absolute;
          border-left:    none;
          border-top:     none;
          height:         10px;
          width:          10px;
          transform:      rotate(-45deg);
          pointer-events: none;
          top:            38%;
          left:           34%;
        }
      }
    }
    @include w-to(750px) {
      padding-top:    32px;
      padding-bottom: 32px;
    }

    .slick-slide {
      outline: none;
    }

    img {
      width:  auto;
      margin: 0 auto;

      @include w-to(1200px) {
        width:  343px;
        height: 342px;
      }
      @include w-to(750px) {
        width:  226px;
        height: 225px;
      }
    }
  }

  &__nav {
    height:    109px;
    max-width: 615px;
    width:     100%;

    .slick-current {
      border: 1px solid #393939;
    }

    .slick-slide {
      outline: none;
    }

    img {
      width:  auto;
      margin: 0 auto;
    }
  }

  &__wrap {
    width:       100%;
    display:     flex;
    align-items: center;

    @include w-to(1200px) {
      display: none;
    }
    @include w-to(750px) {
      display: none;
    }
  }

  &__item-nav {
    height:    109px;
    max-width: 98px;
    border:    1px solid #e8e8e8;
    margin:    0 4px;

    padding:   12px 0;
  }

  .prev-arrow {
    cursor:      pointer;
    margin-top:  7px;
    margin-left: 7px;
  }

  .next-arrow {
    @extend .prev-arrow;

    img {
      transform: rotate(180deg);
    }
  }
}