<div class="slider">
  <div class="slider__items js-slider">
    <div class="slider__item js-item"><img data-index="1" src="assets/img/item/item-1.jpg" alt=""></div>
    <div class="slider__item js-item"><img data-index="2" src="assets/img/item/item-1.jpg" alt=""></div>
    <div class="slider__item js-item"><img data-index="3" src="assets/img/item/item-1.jpg" alt=""></div>
    <div class="slider__item js-item"><img data-index="4" src="assets/img/item/item-1.jpg" alt=""></div>
    <div class="slider__item js-item"><img data-index="5" src="assets/img/item/item-1.jpg" alt=""></div>
    <div class="slider__item js-item"><img data-index="6" src="assets/img/item/item-1.jpg" alt=""></div>
    <div class="slider__item js-item"><img data-index="7" src="assets/img/item/item-1.jpg" alt=""></div>
    <div class="slider__item js-item"><img data-index="8" src="assets/img/item/item-1.jpg" alt=""></div>
  </div>

  <div class="slider__wrap">
    <div class="prev-arrow js-arrow-prev"><img src="assets/img/icons/icon-arrow.svg" alt="arrow"></div>
    <div class="slider__nav js-nav-slider">
      <div class="slider__item-nav js-nav-item"><img data-index="1" src="assets/img/item/item-icon-1.jpg" alt=""></div>
      <div class="slider__item-nav js-nav-item"><img data-index="2" src="assets/img/item/item-icon-1.jpg" alt=""></div>
      <div class="slider__item-nav js-nav-item"><img data-index="3" src="assets/img/item/item-icon-1.jpg" alt=""></div>
      <div class="slider__item-nav js-nav-item"><img data-index="4" src="assets/img/item/item-icon-1.jpg" alt=""></div>
      <div class="slider__item-nav js-nav-item"><img data-index="5" src="assets/img/item/item-icon-1.jpg" alt=""></div>
      <div class="slider__item-nav js-nav-item"><img data-index="6" src="assets/img/item/item-icon-1.jpg" alt=""></div>
      <div class="slider__item-nav js-nav-item"><img data-index="7" src="assets/img/item/item-icon-1.jpg" alt=""></div>
      <div class="slider__item-nav js-nav-item"><img data-index="8" src="assets/img/item/item-icon-1.jpg" alt=""></div>
    </div>
    <div class="next-arrow js-arrow-next"><img src="assets/img/icons/icon-arrow.svg" alt="arrow"></div>
  </div>

</div>