.pagination {
  display:       flex;
  margin-bottom: 18px;

  @include w-to(1200px) {
    margin-bottom: 7px;
  }

  @include w-to(750px) {
    margin-bottom: 16px;
  }

  &__el {
    width:           32px;
    height:          31px;
    border:          1px solid #cecece;
    display:         flex;
    justify-content: center;
    align-items:     center;
    margin:          2px;
    cursor:          pointer;

    color:           #b7b7b7;
    font-family:     Roboto, Helvetica, Arial, sans-serif;
    font-size:       13px;
    font-weight:     300;
    line-height:     16px;

    &:first-child {
      .pagination__arrow {
        transform: rotate(135deg);
      }
    }

    &:hover {
      @include w-from(996px) {
        border: 1px solid #29c1f1;
        color:  #29c1f1;
        .pagination__arrow {
          border:      2px solid #29c1f1;
          border-left: none;
          border-top:  none;
        }
      }
    }
  }

  &__gap {
    width:           20px;
    padding:         2px;
    display:         flex;
    justify-content: center;
    align-items:     center;

    color:           #b7b7b7;
    font-family:     Roboto, Helvetica, Arial, sans-serif;
    font-size:       13px;
    font-weight:     300;
    line-height:     16px;
  }

  &__arrow {
    border:         2px solid #b7b7b7;
    border-left:    none;
    border-top:     none;
    height:         8px;
    width:          8px;
    transform:      rotate(-45deg);
    pointer-events: none;
  }
}