<div class="pagination">
  <div class="pagination__el">
    <div class="pagination__arrow"></div>
  </div>

  <div class="pagination__el"><span>1</span></div>
  <div class="pagination__el"><span>2</span></div>
  <div class="pagination__el"><span>3</span></div>
  <div class="pagination__gap"><span>…</span></div>
  <div class="pagination__el"><span>24</span></div>

  <div class="pagination__el">
    <div class="pagination__arrow"></div>
  </div>
</div>