<div class="container">
  <div class="bread {{ class }}">
    <ul class="bread__list">
      {% for bread in breadcrumbs %}
        <li class="bread__item"><a href="#">{{ bread }}</a></li>
      {% endfor %}
    </ul>

    {% if title != '' %}
      <div class="bread__title"><p>{{ title }}</p></div>
      <div class="bread__line"></div>
    {% endif %}
  </div>
</div>