.bread {
  width:          100%;
  display:        flex;
  flex-direction: column;

  padding-top:    4px;
  padding-bottom: 17px;

  @include w-to(1200px) {
    padding-bottom: 15px;
  }
  @include w-to(750px) {
    padding-top:    0;
    padding-bottom: 17px;
  }

  &__list {
    width:         100%;
    display:       flex;

    opacity:       0.8;
    color:         #393939;
    font-family:   $font-family-default;
    font-size:     13px;
    font-weight:   300;
    line-height:   15px;

    margin-bottom: 30px;

    @include w-to(1200px) {
      display: none;
    }
  }

  &__item {
    display:      inline-block;
    margin-right: 16px;

    a {
      width:    100%;
      position: relative;

      &:after {
        border:         1px solid #393939;
        content:        "";
        top:            6px;
        right:          -10px;
        position:       absolute;
        border-left:    none;
        border-top:     none;
        height:         6px;
        width:          6px;
        margin-left:    -25px;
        transform:      rotate(-45deg);
        pointer-events: none;
      }
    }
  }

  &__title {
    color:         #393939;
    font-family:   $font-family-default;
    font-size:     26px;
    font-weight:   600;
    line-height:   21px;
    margin-bottom: 19px;

    @include w-to(1200px) {
      font-size:   20px;
      line-height: 26px;
    }

    @include w-to(750px) {
      max-width:     250px;
      margin-bottom: 13px;
    }
  }

  &__line {
    width:            66px;
    height:           1px;
    background-color: #dddddd;
  }
}