<div class="input {{ class }}">
  <input
    name="{{ name }}"
    v-model="{{ type }}"
    @blur="$v.{{ type }}.$touch()"
    :class="{'invalid': $v.{{ type }}.$error}"
    type="{{ type }}"
    placeholder="{{ text }}">

  {% if class != 'nav__search'%}
    <div class="invalid-text" v-if="!$v.{{ type }}.required && $v.{{ type }}.$error"><span>Обязательное поле</span></div>
    {% if type == 'email' %}
      <div class="invalid-text" v-if="!$v.{{ type }}.email && $v.{{ type }}.$error"><span>Введите email</span></div>
    {% endif %}
  {% endif %}
</div>