* {
  box-sizing: border-box;
}

body {
  display:        flex;
  flex-direction: column;
  align-items:    center;
}

.container {
  max-width:      1142px;
  width:          100%;
  display:        flex;
  flex-direction: column;
  align-items:    center;

  @include w-to(1200px) {
    max-width: 596px;
  }

  @include w-to(750px) {
    max-width: 291px;
  }
}

.mod-not-sm {
  @include w-to(750px) {
    display: none;
  }
}

.invalid {
  border: thin solid red !important;

  &-text {
    position: absolute;
    font-family: $font-family-default;
    font-size: 12px;
    color: red;
    left: 23px;
    @include w-to(750px) {
      font-size: 9px;
    }
    &-question {
      left: 35px;
      font-size: 9px;
    }
  }
}