.item .item__description {
  flex-direction: column;
  position:       relative;

  @include w-to(1200px) {
    &:before {
      content:    '';
      position:   absolute;
      height:     49px;
      max-width:  90px;
      width:      100%;
      left:       0;
      top:        -13px;

      background: rgba(252, 252, 252, 1);
      background: -moz-linear-gradient(left, rgba(252, 252, 252, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.26) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252, 252, 252, 1)), color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0.26)));
      background: -webkit-linear-gradient(left, rgba(252, 252, 252, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.26) 100%);
      background: -o-linear-gradient(left, rgba(252, 252, 252, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.26) 100%);
      background: -ms-linear-gradient(left, rgba(252, 252, 252, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.26) 100%);
      background: linear-gradient(to right, rgba(252, 252, 252, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.26) 100%);
      filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#ffffff', GradientType=1);
    }

    &:after {
      content:    '';
      position:   absolute;
      height:     49px;
      max-width:  90px;
      width:      100%;
      right:      0;
      top:        -13px;

      background: rgba(255, 255, 255, 0.26);
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0.26)), color-stop(100%, rgba(255, 255, 255, 1)));
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 1) 100%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 1) 100%);
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 1) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 1) 100%);
      filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    }
  }
}

.tabs {
  max-width:       670px;
  width:           100%;
  display:         flex;
  justify-content: space-between;

  color:           #393939;
  font-family:     $font-family-default;
  font-size:       16px;
  line-height:     21px;
  font-weight:     600;

  margin-left:     32px;
  margin-bottom:   24px;

  @include w-to(1200px) {
    margin-left:     0;
    justify-content: initial;
    overflow-x:      auto;
    &::-webkit-scrollbar {
      display: none;
    }

    &__el {
      margin: 0 21.5px;
    }
  }
}

.table {
  border-top:    1px solid #393939;
  padding-top:   15px;
  margin-bottom: 50px;

  @include w-to(1200px) {
    width:      596px;
    overflow-x: scroll;
  }

  @include w-to(750px) {
    width:         290px;
    padding-top:   8px;
    margin-bottom: 28px;
  }

  table {
    color:       #666666;
    font-family: $font-family-default;
    font-size:   14px;
    font-weight: 400;
    width:       1140px;

  }

  tr {
    border-bottom: 1px solid #e6ecf3;

    td {
      padding-top:    10px;
      padding-bottom: 16px;

      &:first-child {
        padding-left: 32px;
        width:        242px;
        @include w-to(750px) {
          width: 197px;
        }
      }

      &:nth-child(2) {
        width: 276px;
        @include w-to(750px) {
          width: 155px;
        }
      }

      &:nth-child(3) {
        width: 210px;
        @include w-to(750px) {
          width: 165px;
        }
      }

      &:nth-child(4) {
        @include w-to(750px) {
          width: 167px;
        }
      }
    }

    td:nth-child(even) {
      font-weight: 700;
    }
  }
}