{% set tabs = {
  titles: ['Описание', 'Характеристики', 'Фото', 'Оплата', 'Доставка', 'Отзывы']
} %}

<div class="tabs js-slider-tabs">
  {% for title in tabs.titles %}
    <div class="tabs__el"><a href="#">{{ title }}</a></div>
  {% endfor %}
</div>

<div class="table">
  <table>
    <tbody>
    <tr>
      <td><span>Страна</span></td>
      <td><span>Швейцария</span></td>
      <td><span>Коллекция</span></td>
      <td><span>T-Sport</span></td>
    </tr>
    <tr>
      <td><span>Пол</span></td>
      <td><span>Мужские</span></td>
      <td><span>Вид механизма</span></td>
      <td><span>Механические часы с автозаводом</span></td>
    </tr>
    <tr>
      <td><span>Тип браслете/ремешка</span></td>
      <td><span>Кожанный</span></td>
      <td><span>Корпус</span></td>
      <td><span>Нержавеющая сталь</span></td>
    </tr>
    <tr>
      <td><span>Стекло</span></td>
      <td><span>Сапфировое</span></td>
      <td><span>Водозащита</span></td>
      <td><span>WR 200</span></td>
    </tr>
    <tr>
      <td><span>Цвет корпуса</span></td>
      <td><span>Серебрянный</span></td>
      <td><span>Цвет циферблата</span></td>
      <td><span>Черный</span></td>
    </tr>
    <tr>
      <td><span>Форма корпуса</span></td>
      <td><span>Круглые</span></td>
      <td><span>Отображение времени</span></td>
      <td><span>Аналоговое</span></td>
    </tr>
    <tr>
      <td><span>Подсветка</span></td>
      <td><span>Стрелок</span></td>
      <td><span>Цифры</span></td>
      <td><span>Арабские</span></td>
    </tr>
    <tr>
      <td><span>Диаметр</span></td>
      <td><span>39 мм.</span></td>
      <td><span>Толщина</span></td>
      <td><span>11.9 мм.</span></td>
    </tr>
    <tr>
      <td><span>Артикул</span></td>
      <td><span>ТО55.430.12.656.12</span></td>
      <td><span></span></td>
      <td><span></span></td>
    </tr>
    </tbody>
  </table>
</div>