<section class="subscribe">
  <div class="container">
    <div class="subscribe__block">

      <div class="subscribe__title"><span>Подписывайтесь на наши новости</span></div>
      <div class="subscribe__line"></div>
      <div class="subscribe__subtitle"><span>и получите промо код на скидку</span></div>

      <form action="php/mail.php" method="post" class="subscribe__submit" id="subscribe">
        {% include '../input/input.twig' with {
          class: 'subscribe__input',
          text: 'Введите Ваш e-mail',
          name: 'user_email',
          type: 'email'
        } %}

        {% include '../button/button.twig' with {
          type: 'button',
          class: 'subscribe__button',
          text: 'Отправить',
          dis: '$v.$invalid'
        } %}
      </form>

      <p class="subscribe__text">Следите за нами</p>

      <div class="subscribe__icons">
        <a href="#"> <img src="assets/img/icons/icon-facebook.png" alt="facebook"> </a> <a href="#">
          <img src="assets/img/icons/icon-vimeo.png" alt="vimeo"> </a> <a href="#">
          <img src="assets/img/icons/icon-instagram.png" alt="instagram"> </a>
      </div>

    </div>
  </div>
</section>