.subscribe {
  width:           100%;
  display:         flex;
  justify-content: center;
  margin-top:      31px;
  margin-bottom:   54px;
  position:        relative;

  @include w-to(1200px) {
    margin-bottom: 35px;
  }

  &__block {
    width:             100%;
    display:           flex;
    flex-direction:    column;
    align-items:       center;

    background-image:  url('../assets/img/subscribe/subscribe-bg.jpg');
    background-repeat: no-repeat;
    background-size:   cover;

    font-family:       $font-family-default;

    padding:           42px 0 43px;

    @include w-to(1200px) {
      padding-top:    36px;
      padding-bottom: 35px;
    }
    @include w-to(750px) {
      text-align:    center;
      padding-left:  12px;
      padding-right: 12px;
    }
  }

  &__title {
    color:          #393939;
    font-size:      20px;
    font-weight:    600;
    line-height:    21px;
    text-transform: uppercase;
    margin-bottom:  12px;

    @include w-to(1200px) {
      font-size:     16px;
      margin-bottom: 15px;
    }
  }

  &__line {
    width:            59px;
    height:           2px;
    background-color: #00b5ee;
    margin-bottom:    6px;

    @include w-to(1200px) {
      margin-bottom: 14px;
    }
  }

  &__subtitle, &__text {
    color:          #393939;
    font-size:      14px;
    font-weight:    400;
    line-height:    21px;
    text-transform: uppercase;
    @include w-to(1200px) {
      font-size:   14px;
      line-height: 18px;
    }
  }

  &__subtitle {
    margin-bottom: 21px;
    @include w-to(750px) {
      max-width: 220px;
    }
  }

  &__text {
    margin-bottom: 11px;
  }

  &__submit {
    display:       flex;
    max-width:     430px;
    width:         100%;
    margin-bottom: 23px;

    @include w-to(1200px) {
      margin-bottom: 27px;
    }
    @include w-to(750px) {
      flex-direction: column;
      align-items:    center;
    }
  }

  &__input {
    max-width:    300px;
    width:        100%;
    height:       40px;

    margin-right: 5px;

    @include w-to(1200px) {
      max-width: 268px;
    }
    @include w-to(750px) {
      margin-bottom: 13px;
      margin-right:  0;
    }
  }

  &__button {
    color:       #ffffff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size:   13px;
    font-weight: 500;
    line-height: 21.47px;
    max-width:   122px;
    width:       100%;

    @include w-to(750px) {
      height: 40px;
    }
  }

  &__icons {
    max-width:       88px;
    width:           100%;
    display:         flex;
    justify-content: space-between;
  }

}