.nav {
  width:            100%;
  display:          flex;
  justify-content:  center;

  background-color: #00b5ee;
  min-height:       65px;
  margin-bottom:    19px;
  position:         relative;

  &[data-active="1"]:after {
    content:          '';
    width:            100%;
    height:           505px;
    position:         absolute;
    background-color: white;
    top:              63px;
    z-index:          50;
    box-shadow:       0 5px 16px rgba(0, 0, 0, 0.15);
  }

  @include w-to(1200px) {
    min-height: 46px;
  }

  &__block {
    width:           100%;
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    height:          100%;
  }

  &__burger {
    margin-right: 19px;
    @include w-to(1200px) {
      margin-right: 0;
    }
  }

  &__menu {
    display:     flex;
    align-items: center;
    width:       100%;
    height:      100%;

    @include w-to(1200px) {
      max-width: 282px;
    }
    @include w-to(750px) {
      max-width: 57px;
    }
  }

  &__search {
    max-width: 400px;
    width:     100%;
    height:    43px;
    position:  relative;

    @include w-to(1200px) {
      height: 33px;
      input {
        font-size:    12px;
        font-weight:  300;
        padding-left: 20px;
      }
    }

    &:after {
      position:            absolute;
      content:             '';
      cursor:              pointer;
      background-image:    url('../assets/img/icons/icon-search.png');
      background-repeat:   no-repeat;
      background-position: center;
      width:               18px;
      height:              18px;
      display:             block;
      top:                 12px;
      right:               18px;
    }
  }
}

@include w-to(1200px) {
  .js-lvl1-nav {
    position:   absolute;
    top:        46px;
    left:       0;
    display:    none;
    width:      100%;
    z-index:    15;
    box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.15);

    & > li {
      background: #FFF;
    }

    & > li > a {
      max-width:    600px;
      margin:       0 auto;
      padding-left: 14px;
    }
  }

  .js-lvl2-nav,
  .js-lvl3-nav,
  .js-lvl4-nav {
    & > li {
      background: #FFF;
    }

    & > li > a {
      max-width: 600px;
      margin:    0 auto;
    }
  }

  .nav__link {
    font-family:    $font-family-default;
    color:          #242021;
    display:        block;
    font-weight:    600;
    height:         51px;
    line-height:    51px;
    vertical-align: middle;
    width:          100%;
    border-bottom:  thin solid #e0f7fa;
  }
  .js-lvl2-nav > li > a {
    padding-left: 34px;
  }
  .js-lvl3-nav > li > a {
    padding-left: 54px;
  }
  .js-lvl4-nav > li > a {
    padding-left: 64px;
  }

  .js-lvl1-nav > li.slide,
  .js-lvl1-nav > li.active,
  .js-lvl2-nav > li.slide,
  .js-lvl2-nav > li.active,
  .js-lvl3-nav > li.slide,
  .js-lvl3-nav > li.active {
    background: #e0f7fa;
  }

  .js-lvl1-nav > li > ul,
  .js-lvl2-nav > li > ul,
  .js-lvl3-nav > li > ul,
  .js-lvl4-nav > li > ul {
    display:    none;
    width:      100%;
    background: #FFF;
  }
  .js-lvl1-nav > li.active > ul,
  .js-lvl2-nav > li.active > ul,
  .js-lvl3-nav > li.active > ul {
    display: block;
  }
  .js-lvl1-nav > li > ul > li,
  .js-lvl2-nav > li > ul > li,
  .js-lvl3-nav > li > ul > li,
  .js-lvl4-nav > li > ul > li {
    display: block;
    color:   #333;
  }
}

@include w-from(1200px) {
  .js-lvl1-nav {
    display: flex;
    height:  100%;

    & > li {
      height:         100%;
      vertical-align: middle;
      display:        flex;
      align-items:    center;
      cursor:         pointer;

      &:hover {
        background-color: #04a6d9;
      }
    }

    & > li > a {
      color:         #ffffff;
      font-family:   $font-family-default;
      font-size:     15px;
      font-weight:   600;
      line-height:   15px;

      padding-left:  24px;
      padding-right: 21px;
      display:       flex;
      align-items:   center;

      &:after {
        content:        '';
        border:         2px solid white;
        border-top:     none;
        border-left:    none;
        width:          7px;
        height:         7px;
        display:        block;
        transform:      rotate(45deg);
        margin-left:    16px;
        pointer-events: none;
      }
    }
  }


  .nav__list {
    max-width:        300px;
    width:            100%;
    background-color: white;
    display:          none;
    position:         absolute;
    min-height:       505px;
    z-index: 100;

    &:not(&_first) {
      right: -300px;
      top:   0;
    }

    &_first {
      position: absolute;
      top:      63px;
    }

    .nav__item {
      height:        51px;
      display:       flex;
      align-items:   center;
      border-bottom: 1px solid #e0f7fa;
      padding-left:  24px;
      padding-right: 14px;

      a {
        display:         flex;
        justify-content: space-between;
        align-items:     center;
        width:           100%;

        &:after {
          content:        '';
          border:         2px solid #92daf1;
          border-top:     none;
          border-left:    none;
          width:          7px;
          height:         7px;
          display:        block;
          transform:      rotate(-45deg);
          pointer-events: none;
        }
      }

      &:hover {
        background-color: #e0f7fa;
      }

      .mod-not-arrow {
        &:after {
          content: none;
        }
      }
    }
  }
}