{% set nav = [
  {
    name: 'Одежда',
    sub: [
    {
      name: "Одежда и обувь",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Питание и кормление",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Гигиена и уход за ребенком",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Детская комната",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Игрушки",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Бренды",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Распродажа %",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    }
  ]
  },
  {
    name: 'Текстиль',
    sub: [
    {
      name: "Одежда и обувь",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Питание и кормление",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Гигиена и уход за ребенком",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Детская комната",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Игрушки",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Бренды",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Распродажа %",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    }
  ]
  },
  {
    name: 'Школьная форма для девочек',
    sub: [
    {
      name: "Одежда и обувь",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Питание и кормление",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Гигиена и уход за ребенком",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Детская комната",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Игрушки",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Бренды",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    },
    {
      name: "Распродажа %",
      sub: [
      {
        name: "Малышам 0-2 года",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Девочкам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Мальчикам 2-14 лет",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
      {
        name: "Новинки",
        sub: [
        {name: "Верхняя одежда"},
        {name: "Джинсы"},
        {name: "Костюмы"},
        {name: "Кофты"},
        {name: "Куртки"},
        {name: "Носки"},
        {name: "Футболки"},
        {name: "Штаны"},
        {name: "Все категории"},
      ]
      },
    ]
    }
  ]
  }
] %}

<nav class="nav" data-active>
  <div class="container">
    <div class="nav__block">

      <div class="nav__menu">
        <div class="nav__burger js-burger"><a href="#"><img src="assets/img/icons/icon-burger.png" alt="Меню"></a></div>


        <ul class="js-lvl1-nav">
          {% for lvl1 in nav %}
            <li class="js-nav">
              <a href="/hope/catalog.html" class="js-lvl1 nav__link">{{ lvl1.name }}</a>
              <ul class="js-lvl2-nav js-submenu nav__list nav__list_first">
                {% for lvl2 in lvl1.sub %}
                  <li class="js-nav-lvl2 nav__item">
                    <a href="/hope/catalog.html" class="js-lvl2 nav__link">{{ lvl2.name }}</a>
                    <ul class="js-lvl3-nav js-submenu-lvl2 nav__list">
                      {% for lvl3 in lvl2.sub %}
                        <li class="js-nav-lvl3 nav__item">
                          <a href="/hope/catalog.html" class="js-lvl3 nav__link">{{ lvl3.name }}</a>
                          <ul class="js-lvl4-nav js-submenu-lvl3 nav__list">
                            {% for lvl4 in lvl3.sub %}
                              <li class="nav__item">
                                <a href="/hope/catalog.html" class="nav__link mod-not-arrow">{{ lvl4.name }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>

      </div>

      {% include '../input/input.twig' with {
        class: 'nav__search',
        text: 'Что Вы хотите найти?'
      } %}

    </div>
  </div>
</nav>