<section class="cards">
  <div class="container">
    <div class="cards__block">
      {% if title != '' %}
        <div class="cards__title"><span>{{ title }}</span></div>
        <div class="cards__line"></div>
      {% endif %}
      <div class="cards__items {{ jsClass }}">
        {% for card in items %}
          {% include '../card/card.twig' %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>