.cards {
  width:           100%;
  display:         flex;
  justify-content: center;
  font-family:     $font-family-default;

  &__block {
    width:          100%;
    display:        flex;
    flex-direction: column;
    align-items:    center;
  }

  &__items {
    width:           100%;
    display:         flex;
    justify-content: space-between;
    flex-wrap:       wrap;

    @include w-to(1200px) {
      justify-content: space-around;

      &_slider {
        width:    526px;
        position: relative;
        @include w-to(750px) {
          width: 263px;
        }

        .slick-prev {
          display:          block;
          position:         absolute;
          width:            48px;
          height:           48px;
          background-color: #00b5ee;
          opacity:          0.6;
          border-radius:    50%;
          top:              50%;
          left:             -49px;
          z-index:          10;

          @include w-to(750px) {
            left: -13px;
          }

          &:focus, &:hover {
            background: #00b5ee;
            color:      initial;
            outline:    initial;
          }

          &:before {
            border:         2px solid white;
            content:        "";
            position:       absolute;
            border-left:    none;
            border-top:     none;
            height:         10px;
            width:          10px;
            transform:      rotate(135deg);
            pointer-events: none;
            top:            38%;
            left:           43%;
          }
        }

        .slick-next {
          display:          block;
          position:         absolute;
          width:            48px;
          height:           48px;
          background-color: #00b5ee;
          opacity:          0.6;
          border-radius:    50%;
          top:              50%;
          right:            -49px;
          z-index:          10;

          @include w-to(750px) {
            right: -13px;
          }

          &:focus, &:hover {
            background: #00b5ee;
            color:      initial;
            outline:    initial;
          }

          &:before {
            border:         2px solid white;
            content:        "";
            position:       absolute;
            border-left:    none;
            border-top:     none;
            height:         10px;
            width:          10px;
            transform:      rotate(-45deg);
            pointer-events: none;
            top:            38%;
            left:           34%;
          }
        }

        img {
          margin: 0 auto;
        }

        p {
          text-align: center;
        }

        .slick-list {
          margin: 0 -15px;
          @include w-to(750px) {
            margin: 0;
          }
        }

        .card {
          width:  263px;
          margin: 0 15px;
          @include w-to(750px) {
            margin: 0;
          }

          &__img {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  &__title {
    color:         #393939;
    font-size:     26px;
    font-weight:   600;
    line-height:   21px;
    margin-bottom: 19px;

    @include w-to(1200px) {
      font-size:     22px;
      margin-bottom: 15px;
    }
  }

  &__line {
    height:           1px;
    width:            66px;
    background-color: #dddddd;
    margin-bottom:    25px;
    @include w-to(1200px) {
      margin-bottom: 20px;
    }
  }
}