<section class="hero">
  <div class="container">
    <div class="hero__block">

      <div class="hero_top"><img class="js-lazy" data-src="assets/img/hero/layer-1.jpg" alt="Caramell"></div>
      <div class="hero_bottom_left"><img class="js-lazy" data-src="assets/img/hero/layer-2.jpg" alt="Постельное белье"></div>
      <div class="hero_bottom_right"><img class="js-lazy" data-src="assets/img/hero/layer-3.jpg" alt="Детская посуда"></div>
      <div class="hero_right"><img class="js-lazy" data-src="assets/img/hero/layer-4.jpg" alt="Корзины для игрушек"></div>

    </div>
  </div>
</section>