.hero {
  width:           100%;
  display:         flex;
  justify-content: center;
  padding-bottom:  47px;

  @include w-to(1200px) {
    padding-bottom: 37px;
  }

  &__block {
    width:               100%;
    display:             grid;
    grid-template-areas: "caramel caramel bags" "underwear dishes bags";

    @include w-to(1200px) {
      grid-template-areas: "caramel underwear" "dishes bags";
      grid-gap:            14px;
    }

    @include w-to(750px) {
      grid-template-areas: "caramel" "underwear" "dishes" "bags";
      grid-column-gap:     0;
      grid-row-gap:        14px;
      justify-content:     center;
    }
  }

  &_top {
    grid-area:     caramel;
    max-width:     768px;
    width:         100%;
    margin-bottom: 2px;
    position:      relative;

    img {
      object-fit: contain;
      @include w-to(1200px) {
        object-position: 90%;
      }
    }

    &:after {
      content:          'Caramell';
      position:         absolute;
      bottom:           0;
      left:             0;
      width:            100%;
      height:           81px;
      background-color: white;
      display:          flex;
      justify-content:  center;
      align-items:      center;
      opacity:          0.8;

      color:            #393939;
      font-family:      "Open Sans", Helvetica, Arial, sans-serif;
      font-size:        21px;
      font-weight:      600;
      line-height:      21px;

      @include w-to(1200px) {
        height:      62px;
        font-size:   16px;
        line-height: 16.31px;
      }

      @include w-to(750px) {
        height: 55px;
      }
    }
  }

  &_bottom {
    display:         flex;
    justify-content: space-between;

    &_left {
      max-width: 375px;
      width:     100%;
      position:  relative;
      grid-area: underwear;

      img {
        object-fit: contain;
      }

      &:after {
        @extend .hero_top:after;
        content: 'Постельное белье';
      }
    }

    &_right {
      grid-area: dishes;
      max-width: 375px;
      width:     100%;
      position:  relative;

      img {
        object-fit: contain;
      }

      &:after {
        @extend .hero_top:after;
        content: 'Детская посуда';
      }
    }
  }

  &_right {
    max-width: 361px;
    width:     100%;
    position:  relative;
    grid-area: bags;

    img {
      object-fit: contain;
    }

    &:after {
      @extend .hero_top:after;
      content: 'Корзины для игрушек';
    }
  }

  &_top, &_bottom_left, &_bottom_right, &_right {
    @include w-to(1200px) {
      max-width: 290px;
      width:     100%;
      height:    254px;
      img {
        max-width:  290px;
        width:      100%;
        height:     254px;
        object-fit: cover;
      }
    }
  }
}