.item__bread {
  padding-bottom: 0;
}

.item {
  width:           100%;
  display:         flex;
  justify-content: center;

  &__block {
    width:   100%;
    display: flex;

    &:first-child {
      margin-bottom: 64px;
      @include w-to(750px) {
        margin-bottom: 0;
      }
    }

    @include w-to(1200px) {
      flex-direction: column;
      align-items:    center;
    }
  }
}