<section class="item">
  <div class="container">
    <div class="item__block">

      {% include 'slider/slider.twig' %}
      {% include 'parametrs/param.twig' %}

    </div>

    <div class="item__block item__description">
      {% include 'description/description.twig' %}
      {% include 'similar-products/similar-products.twig' %}
    </div>
  </div>
</section>