.footer {
  width:          100%;
  display:        flex;
  flex-direction: column;
  align-items:    center;
  padding-top:    29px;
  position:       relative;

  @include w-from(1200px) {
    .arrow-up {
      width:            61px;
      height:           61px;
      border-radius:    50%;
      position:         absolute;
      background-color: #00b5ee;
      right:            162px;
      top:              -84px;
      cursor:           pointer;
      display:          flex;
      justify-content:  center;
      align-items:      center;
      @include w-to(1600px) {
        right: 80px;
      }
      @include w-to(1430px) {
        right: 8px;
      }
      @include w-to(1290px) {
        top: -8px;
      }

      &-arrow {
        width:          10px;
        height:         10px;
        border:         2px solid white;
        border-bottom:  none;
        border-right:   none;
        z-index:        1;
        transform:      rotate(45deg);
        pointer-events: none;
      }
    }
  }

  @include w-to(1200px) {
    padding-top: 34px;
  }
  @include w-to(750px) {
    padding-top: 31px;
  }

  &__block {
    width:           100%;
    display:         flex;
    justify-content: space-between;

    &_benefits {
      height:         38px;
      flex-direction: column;
      flex-wrap:      wrap;

      @include w-to(1200px) {
        height:          180px;
        justify-content: flex-start;
        position:        relative;

        .footer__item {
          margin-bottom: 23px;
          margin-right:  30px;
        }
      }
      @include w-to(750px) {
        height: auto;
      }
    }
  }

  &__benefits, &__contacts {
    width:           100%;
    display:         flex;
    justify-content: center;
  }

  &__benefits {
    padding:       34px 0 33px;
    border-top:    1px solid #a7e3f7;
    border-bottom: 1px solid #a7e3f7;
    margin-bottom: 52px;
    align-content: space-between;

    @include w-to(1200px) {
      padding-top:    22px;
      margin-bottom:  30px;
      padding-bottom: 2px;
    }
  }

  &__item {
    display:         flex;
    height:          37px;
    justify-content: center;
    align-items:     center;

    color:           #393939;
    font-family:     $font-family-default;
    font-size:       14px;
    font-weight:     400;
    line-height:     18px;

    max-width:       210px;
    width:           100%;

    @include w-to(1200px) {
      max-width: 280px;
    }

    img {
      padding-right: 10px;
      @include w-to(1200px) {
        padding-right: 15px;
      }
    }
  }

  &__contacts {
    background-color: #e5f7fd;
    border-top:       1px solid #a7e3f7;
    padding-top:      46px;
    padding-bottom:   41px;
    position:         relative;

    @include w-to(1200px) {
      padding-bottom: 91px;
      padding-top:    27px;
    }
    @include w-to(750px) {
      padding-bottom: 98px;
    }

    @include w-to(750px) {
      text-align: center;
      .footer__block {
        flex-direction: column;
        align-items:    center;

        .mod-center {
          margin-left:    0;
          display:        flex;
          flex-direction: column;
          align-items:    center;
        }
      }
    }
  }

  &__list {
    color:       #393939;
    font-family: $font-family-default;
    font-size:   14px;
    font-weight: 300;
    line-height: 18px;
    width:       100%;
    max-width:   190px;

    span {
      font-weight: 700;
      line-height: 12px;
    }

    li {
      margin-bottom: 8px;
    }

    &_first {
      li {
        margin-bottom: 12px;
      }

      @include w-to(750px) {
        margin-bottom: 10px;
      }
    }

    & > .footer__list_title {
      margin-bottom: 11px;
    }

    &_last {
      display:        flex;
      flex-direction: column;
      align-items:    center;

      a {
        width:           31px;
        height:          31px;
        border:          thin solid black;
        border-radius:   4px;
        display:         flex;
        justify-content: center;
        align-items:     center;
        font-size:       16px;

        &:hover {
          @include w-from(996px) {
            color:  #00b5ee;
            border: thin solid #00b5ee;

            .footer__like {
              display: flex;
            }
          }
        }
      }

      @include w-to(1200px) {
        position: absolute;
        bottom:   -68px;
        right:    40px;
      }
      @include w-to(750px) {
        bottom: -92px;
        right:  64px;
      }

      .footer__list_title {
        margin-right:  -28px;
        margin-bottom: 15px;
      }

      li:last-child {
        max-width:       120px;
        width:           100%;
        display:         flex;
        justify-content: space-between;
        margin-right:    -6px;
        @include w-to(750px) {
          margin-right: -22px;
        }
      }
    }
  }

  &__button {
    height:      40px;
    max-width:   156px;
    width:       100%;

    color:       #ffffff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size:   14px;
    font-weight: 500;
    line-height: 21.47px;
  }

  &__num {
    font-size: 16px;
  }

  .mod-center {
    max-width:       813px;
    width:           100%;
    display:         flex;
    justify-content: space-between;
    position:        relative;
    @include w-to(1200px) {
      margin-left:  17px;
      margin-right: -19px;
    }
    @include w-to(750px) {
      margin: 0;
    }

    .footer__list:first-child {
      padding-left: 10px;
      max-width:    200px;
      @include w-to(1200px) {
        padding-left: 0;
      }
      @include w-to(750px) {
        margin-bottom: 17px;
      }
    }

    .footer__list:nth-child(2) {
      margin-left: -47px;

      @include w-to(750px) {
        margin-left: 0;
      }

      li:first-child {
        margin-bottom: 11px;
      }

      li:last-child {
        ul {
          padding-top: 14px;

          @include w-to(1200px) {
            padding-top: 8px;
          }
          @include w-to(750px) {
            padding-top: 0;
          }
        }
      }
    }

    .footer__list:last-child {
      li:first-child {
        ul {
          margin-bottom: 27px;
          @include w-to(1200px) {
            margin-bottom: 20px;
          }
        }
      }

      li:last-child {
        @include w-to(750px) {
          margin-bottom: 27px;
        }
      }
    }

    .footer__list {
      @include w-to(1200px) {
        padding-left: 5px;
      }
      @include w-to(750px) {
        padding-left: 0;
      }
    }
  }

  &__copy {
    width:            100%;
    display:          flex;
    justify-content:  center;
    align-items:      center;
    background-color: #e5f7fd;

    .container {
      max-width:  1267px;
      border-top: 1px solid #a7e3f7;
    }
  }

  &__copyright {
    opacity:     0.7;
    color:       #393939;
    font-family: $font-family-default;
    font-size:   13px;
    font-weight: 300;
    line-height: 17px;

    padding:     31px 0 36px;

    @include w-to(1200px) {
      max-width:      205px;
      text-align:     center;
      padding-top:    24px;
      padding-bottom: 29px;
    }
    @include w-to(750px) {
      padding-top:    17px;
      padding-bottom: 22px;
    }
  }

  .footer__icon {
    position: relative;

    .footer__like {
      top:              40px;
      position:         absolute;
      width:            196px;
      height:           40px;
      background-color: white;
      box-shadow:       0 0 5px rgba(0, 0, 0, 0.12);
      display:          none;
      align-items:      center;
      justify-content:  center;
      border-radius:    4px;

      color:            #393939;
      font-family:      $font-family-default;
      font-size:        14px;
      font-weight:      600;
      line-height:      18px;

      p:first-child {
        margin-right: 4px;
      }

      &:after {
        content:          '';
        position:         absolute;
        width:            9px;
        height:           9px;
        background-color: white;
        top:              -4px;
        transform:        rotate(45deg);
      }
    }
  }
}