<footer class="footer">

  <div class="footer__benefits">
    <div class="container">
      <div class="footer__block footer__block_benefits">
        <div class="footer__item"><img src="assets/img/icons/icon-medal.png" alt="Преимущества">
          <p class="footer__text">15 лет в оффлайне и 5 лет в интернете</p>
        </div>
        <div class="footer__item"><img src="assets/img/icons/icon-bag3.png" alt="Преимущества">
          <p class="footer__text">2 недели на обмен и возврат товара</p>
        </div>
        <div class="footer__item"><img src="assets/img/icons/icon-box.png" alt="Преимущества">
          <p class="footer__text">Товар проверяем перед отправкой</p>
        </div>
        <div class="footer__item"><img src="assets/img/icons/icon-prise.png" alt="Преимущества">
          <p class="footer__text">Накопительные скидки, подарки и акции!</p>
        </div>
        <div class="footer__item"><img src="assets/img/icons/icon-bus.png" alt="Преимущества">
          <p class="footer__text">Бесплатная доставка от 1000 грн по Украине</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__contacts">
    <div class="container">
      <div class="footer__block">
        <ul class="footer__list footer__list_first">
          <li><span>Свяжитесь с нами</span></li>
          <li><a href="tel:+79871880808" class="footer__num">+7 987 188 08 08</a></li>
          <li>
            {% include '../button/button.twig' with {
              type: 'button',
              class: 'footer__button js-call-me',
              text: 'Перезвоните мне'
            } %}
          </li>
          <li class="mod-not-sm"><a href="#">БЛОГ</a></li>
          <li><a href="#">НОВОСТИ БЛОГА</a></li>
          <li><a href="#">ОТЗЫВЫ</a></li>
        </ul>
        <div class="mod-center">
          <ul class="footer__list">
            <li class="footer__list_title"><span>Помощь</span></li>
            <li><a href="#">Условия доставки</a></li>
            <li><a href="#">Условия оплаты</a></li>
            <li><a href="#">Условия возврата</a></li>
            <li><a href="#">Гарантия</a></li>
            <li><a href="#">Как применить промокод</a></li>
            <li><a href="#">Вернуть товар. Инструкция</a></li>
            <li><a href="#">Отследить посылку</a></li>
          </ul>
          <ul class="footer__list">
            <li>
              <ul class="footer__list">
                <li class="footer__list_title"><span>Мой кабинет</span></li>
                <li><a href="#">Личный кабинет</a></li>
                <li><a href="#">История заказов</a></li>
                <li><a href="#">Избранное</a></li>
              </ul>
            </li>
            <li>
              <ul class="footer__list">
                <li class="footer__list_title"><span>Быстрая доставка</span></li>
                <li><a href="#"><img src="assets/img/footer/logo-footer.png" alt="Нова пошта"></a></li>
              </ul>
            </li>
          </ul>
          <ul class="footer__list footer__list_last">
            <li class="footer__list_title"><span>Добавляйся к нам</span></li>
            <li>
              <a href="#" class="footer__icon icon-vkontakte">
                <div class="footer__like">
                  <p>Мне нравится |</p>
                  <p>3654</p>
                </div>
              </a> <a href="#" class="footer__icon icon-facebook">
                <div class="footer__like">
                  <p>Мне нравится |</p>
                  <p>3654</p>
                </div>
              </a> <a href="#" class="footer__icon icon-instagram">
                <div class="footer__like">
                  <p>Мне нравится |</p>
                  <p>3654</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__copy">
    <div class="container">
      <p class="footer__copyright">© www.nadejda.com 2008-2017. Все права защищены.</p>
    </div>
  </div>

  <div class="arrow-up js-btn-up">
    <div class="arrow-up-arrow"></div>
  </div>

</footer>

<script src="scripts/vendor/jquery-3.4.1.min.js"></script>
<script src="scripts/vendor/slick.min.js"></script>
<script src="scripts/vendor/vue.min.js"></script>
<script src="scripts/vendor/vuelidate.min.js"></script>
<script src="scripts/vendor/validators.min.js"></script>
<script src="scripts/vendor/lazyload.min.js"></script>
<script src="scripts/vendor/v-mask.min.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (m, e, t, r, i, k, a) {
    m[i] = m[i] || function () {
      (m[i].a = m[i].a || []).push(arguments)
    };
    m[i].l = 1 * new Date();
    k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
  })(window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");
  ym(54199516, "init", {
    clickmap: true,
    trackLinks: true,
    accurateTrackBounce: true,
    webvisor: true,
    trackHash: true
  }); </script>
<noscript>
  <div><img src="https://mc.yandex.ru/watch/54199516" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript> <!-- /Yandex.Metrika counter -->

<script src="scripts/bundle.js"></script>

{% include '../popup/popup.twig' %}