.similar-products {
  margin-bottom: 34px;

  @include w-to(750px) {
    width: 290px;
  }

  &__title {
    color:         #393939;
    font-family:   $font-family-default;
    font-size:     26px;
    font-weight:   600;
    line-height:   21px;
    margin-bottom: 19px;
    @include w-to(750px) {
      font-size:     20px;
      line-height:   26px;
      margin-bottom: 10px;
    }
  }

  &__line {
    width:            66px;
    height:           1px;
    background-color: #dddddd;
    margin-bottom:    19px;
  }

  &__cards {
    display:         flex;
    justify-content: space-between;

    @include w-to(1200px) {
      width:  420px;
      margin: 0 auto;
    }

    @include w-to(750px) {

      .slick-prev {
        left: -41px;
      }
      .slick-next {
        right: -41px;
      }


      width: 210px;

      .slick-list {
        margin: 0 -25px;
      }

      .card {
        width:  208px;
        margin: 0 25px;
      }
    }
  }

  &__card {
    max-width:      208px;
    width:          100%;
    display:        flex;
    flex-direction: column;
    align-items:    center;
    border:         1px solid #e8e8e8;
    text-align:     center;

    padding:        5px 6px 18px;

    @include w-to(1200px) {
      margin: 0 15px;
    }
  }

  &__img {
    height:        191px;
    display:       flex;
    align-items:   flex-start;
    margin-bottom: 19px;
  }

  &__name {
    color:       #393939;
    font-family: $font-family-default;
    font-size:   15px;
    font-weight: 700;
    line-height: 18px;

    max-width:   165px;
    width:       100%;
    margin:      0 auto 11px;
  }

  &__price {
    color:       #393939;
    font-size:   18px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
  }
}