<div class="similar-products">
  <div class="similar-products__title"><span>Похожие товары</span></div>
  <div class="similar-products__line"></div>
  <div class="similar-products__cards {{ jsClass }}">
    {% for card in similarProducts %}

      <div class="similar-products__card">
        <div class="similar-products__img"><img class="js-lazy" data-src="{{ card.img }}" alt="item-5"></div>
        <div class="similar-products__name"><span>{{ card.text }}</span></div>
        <div class="similar-products__price"><span>{{ card.price }}</span></div>
      </div>

    {% endfor %}
  </div>
</div>