<div class="card">
  <div class="card__wrap">
    <div class="card__img js-redirect"><img src="{{ card.url }}" alt="{{ card.name }}"></div>
    <p class="card__name">{{ card.name }}</p>
    <p class="card__articul">{{ card.articul }}</p>
    <div class="card__items">
      <div class="card__select">
        <p>122</p>
        <div class="arrow_down"></div>
      </div>
      <div class="card__select">
        <p>Синий</p>
        <div class="arrow_down"></div>
      </div>
    </div>
    <div class="card__price">
      <p>Цена: <span class="card__symbol">₴ </span><span class="card__num">{{ card.price }}</span></p>
      {% include '../button/button.twig' with {
        type: 'button',
        class: 'card__button',
        text: '<img class="js-lazy" data-src="assets/img/icons/icon-bag2.svg" alt="В корзину">'
      } %}
    </div>
    <div class="card__links">
      <div class="card__favorites">
        <a href="#"> <img src="assets/img/icons/icon-heart.png" alt="heart">
          <p>В избранное</p>
        </a>
      </div>
      <div class="js-one card__favorites-one">
        <a href="#">Купить в 1 клик</a>
      </div>
    </div>
  </div>
</div>
