.card {
  max-width:      263px;
  width:          100%;
  display:        flex;
  flex-direction: column;
  align-items:    center;
  padding:        7px 0 22px;
  border:         thin solid #e8e8e8;
  border-radius:  6px;
  position:       relative;
  cursor:         pointer;

  margin-bottom:  22px;

  &__wrap {
    width: 100%;
  }

  &__items {
    display:         none;
    justify-content: space-between;
    max-width:       224px;
    width:           100%;
    margin-bottom:   15px;

    .card__select {
      border:          1px solid #95dbf1;
      width:           108px;
      height:          41px;
      cursor:          pointer;
      display:         flex;
      align-items:     center;
      justify-content: space-between;

      color:           #242021;
      font-family:     $font-family-default;
      font-size:       13px;
      font-weight:     300;
      line-height:     15px;

      p {
        opacity: 0.7;
      }

      &:first-child {
        padding-left:  15px;
        padding-right: 9px;
      }

      &:last-child {
        padding-left:  6px;
        padding-right: 9px;

        p {
          display:     flex;
          align-items: center;

          &:before {
            content:          '';
            width:            25px;
            height:           25px;
            border-radius:    50%;
            background-color: #024e88;
            display:          inline-block;
            margin-right:     4px;
          }
        }
      }
    }
  }

  &__links {
    display:         none;
    align-items:     center;
    padding-top:     8px;
    width:           226px;
    justify-content: space-between;
    margin-left:     10px;

    img {
      margin-right: 5px;
    }

    .card__favorites a {
      display:     flex;
      color:       #2d2d2d;
      font-family: $font-family-default;
      font-size:   13px;
      font-weight: 300;
      line-height: 17px;

      img {
        width:  17px;
        height: 17px;
      }
    }

    .card__favorites-one a {
      color:       #00b5ee;
      font-family: $font-family-default;
      font-size:   13px;
      font-weight: 600;
      line-height: 17px;
    }
  }

  @include w-from(996px) {
    &:hover {
      max-width:     263px;
      width:         100%;
      display:       block;
      align-items:   center;
      padding:       0;
      border:        none;
      border-radius: 0;
      position:      relative;

      margin-bottom: 0;

      .card__wrap {
        position:         absolute;
        z-index:          10;

        max-width:        263px;
        width:            100%;
        display:          flex;
        flex-direction:   column;
        align-items:      center;
        justify-content:  center;
        padding:          7px 0 15px;
        border:           thin solid #e8e8e8;
        border-radius:    6px;

        margin-bottom:    22px;
        background-color: white;
      }

      & > .card__articul {
        margin-bottom: 14px;
      }

      .card__items {
        display: flex;
      }

      .card__links {
        display: flex;
      }
    }
  }

  &:last-child {
    @include w-to(750px) {
      margin-bottom: 16px;
    }
  }

  &__img {
    margin-bottom:   20px;
    display:         flex;
    justify-content: center;

    img {
      margin: 0 auto;
    }
  }

  &__name {
    color:         #393939;
    font-size:     16px;
    font-weight:   700;
    margin-bottom: 2px;
    text-align:    center;
  }

  &__articul {
    color:         #666666;
    font-size:     13px;
    font-weight:   400;
    margin-bottom: 17px;
    text-align:    center;
  }

  &__price {
    font-family:     "Roboto", Helvetica, Arial, sans-serif;
    font-weight:     400;
    font-size:       16px;
    padding-left:    8px;

    width:           100%;
    display:         flex;
    justify-content: space-around;
    align-items:     center;

    p {
      min-width: 135px;
    }

    span {
      font-size: 19px;
    }
  }

  &__symbol {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 15px;
  }

  &__num {
    letter-spacing: 0.7px;
    font-weight:    700;
  }

  &__button {
    max-width: 57px;
    width:     100%;
    height:    37px;
  }

}