<!doctype html>
<html lang="ru">
{% include "parts/meta.twig" %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}
<body>
{% include "../blocks/browser-update/browser-update.twig" %}

{% include '../blocks/header/header.twig' %}

{% include '../blocks/nav/nav.twig' %}

{% include '../blocks/breadcrumbs/breadcrumbs.twig' with {
  breadcrumbs: ['Главная', 'Одежда и Обувь', 'Мальчикам 2-14 лет'],
  class: '',
  title: 'Одежда для мальчиков 2-14&nbsp;лет'
} %}

{% include '../blocks/filter/filter.twig' with {
  categories: ['Возраст', 'Цвет', 'Бренд', 'Сортировать по']
} %}

{% include '../blocks/cards/cards.twig' with {
  title: '',
  jsClass: '',
  items: [
    {
      url: 'assets/img/cards/item-5.jpg',
      new: '',
      sale: '',
      name: 'Boboli Лонгслив',
      articul: 'Артикул: 34 787',
      price: '920.00'
    },
    {
      url: 'assets/img/cards/item-6.jpg',
      new: '',
      sale: '',
      name: 'Name It Лонгслив',
      articul: 'Артикул: 32 971',
      price: '660.00'
    },
    {
      url: 'assets/img/cards/item-7.jpg',
      new: '',
      sale: '',
      name: 'PUMA Топ спортивный',
      articul: 'Артикул: 32 985',
      price: '990.00'
    },
    {
      url: 'assets/img/cards/item-8.jpg',
      new: '',
      sale: '',
      name: 'EA7 Куртка утепленная',
      articul: 'Артикул: 32 995',
      price: '549.00'
    },
    {
      url: 'assets/img/cards/item-9.jpg',
      new: '',
      sale: '',
      name: 'Brums Костюм спортивный',
      articul: 'Артикул: 34 785',
      price: '1 720.00'
    },
    {
      url: 'assets/img/cards/item-10.jpg',
      new: '',
      sale: '',
      name: 'Piazza Italia Свитшоты ',
      articul: 'Артикул: 32 972',
      price: '500.00'
    },
    {
      url: 'assets/img/cards/item-11.jpg',
      new: '',
      sale: '',
      name: 'Piazza Italia Лонгсливы',
      articul: 'Артикул: 32 950',
      price: '320.00'
    },
    {
      url: 'assets/img/cards/item-12.jpg',
      new: '',
      sale: '',
      name: 'PUMA Костюм спортивный',
      articul: 'Артикул: 32 998',
      price: '1 290.00'
    },
    {
      url: 'assets/img/cards/item-5.jpg',
      new: '',
      sale: '',
      name: 'Boboli Лонгслив',
      articul: 'Артикул: 34 787',
      price: '920.00'
    },
    {
      url: 'assets/img/cards/item-6.jpg',
      new: '',
      sale: '',
      name: 'Name It Лонгслив',
      articul: 'Артикул: 32 971',
      price: '660.00'
    },
    {
      url: 'assets/img/cards/item-7.jpg',
      new: '',
      sale: '',
      name: 'PUMA Топ спортивный',
      articul: 'Артикул: 32 985',
      price: '990.00'
    },
    {
      url: 'assets/img/cards/item-8.jpg',
      new: '',
      sale: '',
      name: 'EA7 Куртка утепленная',
      articul: 'Артикул: 32 995',
      price: '549.00'
    },
    {
      url: 'assets/img/cards/item-9.jpg',
      new: '',
      sale: '',
      name: 'Brums Костюм спортивный',
      articul: 'Артикул: 34 785',
      price: '1 720.00'
    },
    {
      url: 'assets/img/cards/item-10.jpg',
      new: '',
      sale: '',
      name: 'Piazza Italia Свитшоты ',
      articul: 'Артикул: 32 972',
      price: '500.00'
    },
    {
      url: 'assets/img/cards/item-11.jpg',
      new: '',
      sale: '',
      name: 'Piazza Italia Лонгсливы',
      articul: 'Артикул: 32 950',
      price: '320.00'
    },
    {
      url: 'assets/img/cards/item-12.jpg',
      new: '',
      sale: '',
      name: 'PUMA Костюм спортивный',
      articul: 'Артикул: 32 998',
      price: '1 290.00'
    },
    {
      url: 'assets/img/cards/item-5.jpg',
      new: '',
      sale: '',
      name: 'Boboli Лонгслив',
      articul: 'Артикул: 34 787',
      price: '920.00'
    },
    {
      url: 'assets/img/cards/item-6.jpg',
      new: '',
      sale: '',
      name: 'Name It Лонгслив',
      articul: 'Артикул: 32 971',
      price: '660.00'
    },
    {
      url: 'assets/img/cards/item-7.jpg',
      new: '',
      sale: '',
      name: 'PUMA Топ спортивный',
      articul: 'Артикул: 32 985',
      price: '990.00'
    },
    {
      url: 'assets/img/cards/item-8.jpg',
      new: '',
      sale: '',
      name: 'EA7 Куртка утепленная',
      articul: 'Артикул: 32 995',
      price: '549.00'
    }
  ]
} %}

{% include '../blocks/pagination/pagination.twig' %}

{% include '../blocks/footer/footer.twig' %}

</body>
</html>
