<!doctype html>
<html lang="ru">
{% include "parts/meta.twig" %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}
<body>
{% include "../blocks/browser-update/browser-update.twig" %}

{% include '../blocks/header/header.twig' %}

{% include '../blocks/nav/nav.twig' %}

{% include '../blocks/hero/hero.twig' %}

{% include '../blocks/cards/cards.twig' with {
  title: 'Распродажа',
  jsClass: 'cards__items_slider js-sale-slider',
  items: [
    {
      url: 'assets/img/cards/item-1.jpg',
      new: '',
      sale: '',
      name: 'Guess Платье',
      articul: 'Артикул: 32 987',
      price: '1 870.00'
    },
    {
      url: 'assets/img/cards/item-2.jpg',
      new: '',
      sale: '',
      name: 'Name It Олимпийка',
      articul: 'Артикул: 32 988',
      price: '840.00'
    },
    {
      url: 'assets/img/cards/item-3.jpg',
      new: '',
      sale: '',
      name: 'Лонгслив - SISIB',
      articul: 'Артикул: 32 989',
      price: '549.00'
    },
    {
      url: 'assets/img/cards/item-4.jpg',
      new: '',
      sale: '',
      name: 'Рюкзак Grizzly',
      articul: 'Артикул: 32 990',
      price: '1 890.00'
    }
  ]
} %}

{% include '../blocks/subscribe/subscribe.twig' %}

{% include '../blocks/cards/cards.twig' with {
  title: 'Новинки',
  jsClass: 'cards__items_slider js-sale-slider',
  items: [
    {
      url: 'assets/img/cards/item-5.jpg',
      new: '',
      sale: '',
      name: 'Boboli Лонгслив',
      articul: 'Артикул: 34 787',
      price: '920.00'
    },
    {
      url: 'assets/img/cards/item-6.jpg',
      new: '',
      sale: '',
      name: 'Name It Лонгслив',
      articul: 'Артикул: 32 971',
      price: '660.00'
    },
    {
      url: 'assets/img/cards/item-7.jpg',
      new: '',
      sale: '',
      name: 'PUMA Топ спортивный',
      articul: 'Артикул: 32 985',
      price: '990.00'
    },
    {
      url: 'assets/img/cards/item-8.jpg',
      new: '',
      sale: '',
      name: 'EA7 Куртка утепленная',
      articul: 'Артикул: 32 995',
      price: '549.00'
    },
    {
      url: 'assets/img/cards/item-9.jpg',
      new: '',
      sale: '',
      name: 'Brums Костюм спортивный',
      articul: 'Артикул: 34 785',
      price: '1 720.00'
    },
    {
      url: 'assets/img/cards/item-10.jpg',
      new: '',
      sale: '',
      name: 'Piazza Italia Свитшоты ',
      articul: 'Артикул: 32 972',
      price: '500.00'
    },
    {
      url: 'assets/img/cards/item-11.jpg',
      new: '',
      sale: '',
      name: 'Piazza Italia Лонгсливы',
      articul: 'Артикул: 32 950',
      price: '320.00'
    },
    {
      url: 'assets/img/cards/item-12.jpg',
      new: '',
      sale: '',
      name: 'PUMA Костюм спортивный',
      articul: 'Артикул: 32 998',
      price: '1 290.00'
    }
  ]
} %}

{% include '../blocks/footer/footer.twig' %}

</body>
</html>
