{% set similarProducts = [
  {
    img: 'assets/img/similar-products/item-1.jpg',
    text: 'Кофта для мальчика Submarine',
    price: '₴ 210.00'
  },
  {
    img: 'assets/img/similar-products/item-2.jpg',
    text: 'Кофта для мальчика Dino',
    price: '₴ 213.00'
  },
  {
    img: 'assets/img/similar-products/item-3.jpg',
    text: 'Детская куртка Seagulls',
    price: '₴ 853.00'
  },
  {
    img: 'assets/img/similar-products/item-4.jpg',
    text: 'Куртка для девочки Flowers',
    price: '₴ 853.00'
  },
  {
    img: 'assets/img/similar-products/item-5.jpg',
    text: 'Куртка для девочки Stars',
    price: '₴ 1220.00'
  },
] %}

<!doctype html>
<html lang="ru">
{% include "parts/meta.twig" %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}
<body>
{% include "../blocks/browser-update/browser-update.twig" %}

{% include '../blocks/header/header.twig' %}
{% include '../blocks/nav/nav.twig' %}

{% include '../blocks/breadcrumbs/breadcrumbs.twig' with {
  breadcrumbs: ['Главная', 'Одежда и Обувь', 'Мальчикам 2-14 лет'],
  class: 'item__bread',
  title: ''
} %}

{% include '../blocks/item/item.twig' with {
  jsClass: 'cards__items_slider js-sale-slider'
} %}

{% include '../blocks/footer/footer.twig' %}

</body>
</html>
