<div class="param">

  <div class="param__title"><span>Кофта Donkey Jumping Beans</span></div>

  <div class="param__id">
    <div class="param__articul"><span>Артикул: 239045</span></div>
    <div class="param__available"><span>Есть в наличии</span></div>
  </div>

  <div class="param__rating">
    <div class="param__star"><img src="assets/img/icons/icon-starg.png" alt="star"></div>
    <div class="param__star"><img src="assets/img/icons/icon-starg.png" alt="star"></div>
    <div class="param__star"><img src="assets/img/icons/icon-starg.png" alt="star"></div>
    <div class="param__star"><img src="assets/img/icons/icon-starg.png" alt="star"></div>
    <div class="param__star"><img src="assets/img/icons/icon-star.png" alt="star"></div>
  </div>

  <div class="param__input param__input_first">
    <div class="param__inscription"><span>Выберите цвет:</span></div>
    <div class="filter__cat">
      <p>Синий</p>
      <div class="arrow_down"></div>
    </div>
  </div>
  <div class="param__input param__input_second">
    <div class="param__inscription"><span>Выберите размер:</span></div>
    <div class="filter__cat">
      <p>XXL</p>
      <div class="arrow_down"></div>
    </div>
  </div>

  <div class="param__price">
    <p class="param__old">6766.00</p>
    <p class="param__new">5984.00</p>
  </div>

  <div class="param__btn">
    {% include '../../button/button.twig' with {
      type: 'button',
      class: 'footer__button param__button',
      text: 'Купить'
    } %}
    <div class="param__like">
      <img src="assets/img/icons/icon-heart.png" alt="Избранное">
      <p>В избранное</p>
    </div>
  </div>

  <div class="param__social">
    <img src="assets/img/icons/icon-facebook3.png" alt=""> <img src="assets/img/icons/icon-vk2.png" alt="">
    <img src="assets/img/icons/icon-instagram3.png" alt="">
  </div>
</div>