.param {
  width:       362px;
  height:      543px;
  padding-top: 19px;

  @include w-to(1200px) {
    width:       100%;
    padding-top: 31px;
    height:      342px;
  }

  @include w-to(750px) {
    height: initial;
  }

  &__title {
    color:         #393939;
    font-family:   $font-family-default;
    font-size:     21px;
    font-weight:   600;
    line-height:   21px;
    margin-bottom: 17px;
    padding-left:  2px;

    @include w-to(1200px) {
      font-size:     18px;
      font-weight:   700;
      margin-bottom: 15px;
    }
  }

  &__articul {
    color:       #898989;
    font-family: $font-family-default;
    font-size:   14px;
    font-weight: 300;
    line-height: 24px;
  }

  &__available {
    color:       #31c657;
    font-family: $font-family-default;
    font-size:   14px;
    font-weight: 300;
    line-height: 24px;
  }

  &__id {
    display:         flex;
    max-width:       247px;
    width:           100%;
    justify-content: space-between;
    margin-bottom:   23px;
    @include w-to(1200px) {
      margin-bottom: 10px;
    }
  }

  &__star {
    display: inline-block;

    img {
      width:  16px;
      height: 15px;
    }
  }

  &__rating {
    max-width:     100px;
    width:         100%;
    margin-bottom: 22px;

    @include w-to(1200px) {
      margin-bottom: 15px;
    }
  }

  &__inscription {
    color:         #393939;
    font-family:   $font-family-default;
    font-size:     16px;
    font-weight:   600;
    line-height:   17px;
    margin-bottom: 14px;
  }

  &__input {
    margin-bottom: 19px;

    &_first {
      .filter__cat {
        padding-left: 13px;
        @include w-to(750px) {
          margin-bottom: 18px;
        }
      }

      .filter__cat p {
        display:     flex;
        align-items: center;

        &:before {
          content:          '';
          width:            25px;
          height:           25px;
          border-radius:    50%;
          background-color: #024e88;
          display:          inline-block;
          margin-right:     13px;
        }
      }
    }

    &_second {
      .filter__cat {
        padding-left: 20px;
        @include w-to(750px) {
          margin-bottom: 29px;
        }
      }

      margin-bottom: 38px;
      @include w-to(1200px) {
        margin-left: 7px;
      }
      @include w-to(750px) {
        margin-left: 0;
      }
    }

    & > .filter__cat {
      max-width: 100%;
      @include w-to(1200px) {
        height: 51px;
      }
    }

    @include w-to(1200px) {
      display:       inline-block;
      width:         49%;
      margin-bottom: 0;
    }
    @include w-to(750px) {
      width: 100%;
    }
  }

  &__price {
    display:         flex;
    max-width:       253px;
    justify-content: space-between;
    margin-bottom:   30px;
    @include w-to(1200px) {
      max-width:     248px;
      margin-bottom: 32px;
    }
  }

  &__old {
    color:           #737373;
    font-family:     $font-family-default;
    font-size:       26px;
    font-weight:     600;
    line-height:     31.03px;
    letter-spacing:  0.8px;
    text-decoration: line-through;
  }

  &__new {
    color:          #393939;
    font-family:    $font-family-default;
    font-size:      30px;
    font-weight:    600;
    line-height:    31.03px;
    letter-spacing: 0.93px;
  }

  &__btn {
    display:         flex;
    max-width:       335px;
    justify-content: space-between;
    margin-bottom:   44px;
    @include w-to(1200px) {
      max-width: 324px;
    }
    @include w-to(750px) {
      flex-direction:  column;
      justify-content: center;
      align-items:     flex-start;
    }

    .param__button {
      height:    49px;
      max-width: 176px;
      @include w-to(750px) {
        margin-bottom: 21px;
      }
    }
  }

  &__like {
    display:         flex;
    align-items:     center;
    justify-content: center;
    cursor:          pointer;

    color:           #393939;
    font-family:     $font-family-default;
    font-size:       14px;
    font-weight:     600;
    line-height:     21px;

    p {
      margin-left: 8px;
      margin-top:  -6px;
    }

    img {
      width:  28px;
      height: 26px;
    }
  }

  &__social {
    max-width:       142px;
    display:         flex;
    justify-content: space-between;

    img {
      cursor: pointer;
    }

    @include w-to(1200px) {
      display: none;
    }
  }
}