{% set meta = {
  title: 'Надежда',
  description: '...',
  keywords: '...',
} %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>[L] {{ meta.title }}</title>
  <meta name="description" content="{{ meta.description }}">
  <meta name="keywords" content="{{ meta.description }}">

  <meta name="theme-color" content="#9c2129">

  <link rel="icon" type="image/png" href="assets/favicon/favicon.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/favicon/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/favicon/favicon-64.png" sizes="64x64">

  <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="assets/favicon/favicon-apple-152.png">
  <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="assets/favicon/favicon-apple-167.png">
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="assets/favicon/favicon-apple-180.png">

  <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/favicon-apple-192.png">

  {#
    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:url" content="...">
    <meta property="og:title" content="{{meta.title}}">
    <meta property="og:description" content="{{meta.description}}">
    <meta property="og:image" content="...">
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
  #}

  {% block styles %}
  {% endblock %}

</head>
