.filter {
  width:           100%;
  display:         flex;
  justify-content: center;
  margin-bottom:   29px;
  z-index:         15;

  @include w-to(1200px) {
    margin-bottom: 12px;
  }
  @include w-to(750px) {
    margin-bottom: 18px;
  }

  &__block {
    width:           100%;
    display:         flex;
    justify-content: space-between;

    @include w-to(1200px) {
      flex-wrap: wrap;
    }
  }

  &__cat {
    max-width:       263px;
    width:           100%;
    height:          51px;
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    border:          1px solid #95dbf1;
    padding-left:    21px;
    padding-right:   13px;
    cursor:          pointer;

    color:           #242021;
    font-family:     $font-family-default;
    font-size:       14px;
    font-weight:     300;
    line-height:     15px;
    position:        relative;

    p {
      pointer-events: none;
    }

    @include w-to(1200px) {
      height:        46px;
      max-width:     290px;
      margin-bottom: 15px;
    }

    @include w-to(750px) {
      margin-bottom: 5px;
    }
  }

  &__opt {
    position:         absolute;
    top:              51px;
    max-width:        263px;
    width:            100%;
    left:             0;
    display:          none;
    z-index:          1;
    background-color: white;
    @include w-to(1200px) {
      max-width: 300px;
    }

    .filter__cat {
      width:            100%;
      background-color: white;

      @include w-from(996px) {
        &:hover {
          background-color: #00b5ee;
          color:            white;
        }
      }
    }
  }

}

.arrow_down {
  border:         1px solid #95dbf1;
  border-left:    none;
  border-top:     none;
  height:         8px;
  width:          8px;
  transform:      rotate(45deg);
  pointer-events: none;
}