<div class="filter">
  <div class="container">
    <div class="filter__block">

      {% for category in categories %}
        <div class="filter__cat js-filter">
          <p>{{ category }}</p>
          <div class="arrow_down"></div>
          <div class="filter__opt js-filter-item">
            <div class="filter__cat">1</div>
            <div class="filter__cat">2</div>
            <div class="filter__cat">3</div>
            <div class="filter__cat js-filter-reset">Сброс</div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>