<header class="header">
  <div class="container">
    <div class="header__block">

      <div class="header__call">
        <div class="header__icon-call">
          <img src="assets/img/icons/icon-call.png" alt="call">
        </div>
        <div class="header__phones">
          <a href="tel:+79871880808">(987) 188 08 08</a> <a href="tel:+79683550505">(968) 355 05 05</a>
        </div>
        {% include '../button/button.twig' with {
          type: 'button',
          class: 'header__button js-call-me',
          text: 'Перезвоните мне'
        } %}
      </div>

      <div class="header__logo js-home"><img src="assets/img/header/logo.svg" alt=""></div>

      <div class="header__menu">
        <a href="#" class="header__item js-entrance">
          <div class="header__icon"><img src="assets/img/icons/icon-dress.png" alt="Вход"></div>
          <span>Вход</span></a> <a href="#" class="header__item js-reg">
          <div class="header__icon"><img src="assets/img/icons/icon-heart.png" alt="Избранное"></div>
          <span>Избранное</span></a> <a href="#" class="header__item js-bag">
          <div class="header__icon"><img src="assets/img/icons/icon-bag.png" alt="Корзина"></div>
          <span>Корзина</span></a>
      </div>

    </div>
  </div>
</header>