.header {
  display:         flex;
  justify-content: center;
  min-width:       100%;
  padding:         30px 0 27px;

  @include w-to(1200px) {
    padding-top:    17px;
    padding-bottom: 16px;
  }

  &__block {
    width:           100%;

    display:         flex;
    justify-content: space-between;
  }

  &__logo {
    margin-left: -101px;
    cursor:      pointer;
    @include w-to(1200px) {
      padding-top: 3px;
      margin-left: 0;
      img {
        max-width: 115px;
      }
    }
  }

  &__call {
    max-width:       324px;
    width:           100%;
    display:         flex;
    justify-content: space-between;
    max-height:      37px;

    padding-top:     8px;
    font-family:     "Open Sans", Helvetica, Arial, sans-serif;
    color:           #393939;
    font-size:       16px;
    font-weight:     400;
    line-height:     21px;

    @include w-to(1200px) {
      display: none;
    }
  }

  &__icon-call {
    margin-top: 4px;
  }

  &__phones {
    margin-left: -10px;

    a {
      display: block;
    }
  }

  &__menu {
    display:         flex;
    max-width:       215px;
    width:           100%;
    justify-content: space-between;
    margin-right:    5px;

    @include w-to(1200px) {
      max-width: 113px;
    }
  }

  &__item {
    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: center;

    color:           #393939;
    font-family:     "Open Sans", Helvetica, Arial, sans-serif;
    font-size:       12px;
    font-weight:     600;
    line-height:     21px;
    position:        relative;

    &.js-bag {
      &:after {
        content:          '4';
        width:            23px;
        height:           23px;
        background-color: #ffc740;
        position:         absolute;
        border-radius:    50%;
        margin:           0 auto;
        text-align:       center;
        vertical-align:   middle;
        top:              0;
        right:            0;
        color:            white;

        font-family:      $font-family-default;
        font-size:        11px;
        font-weight:      600;

        @include w-to(1200px) {
          width:       18px;
          height:      18px;
          font-size:   9px;
          top:         9px;
          right:       -4px;
          line-height: 19.33px;
        }
      }
    }

    @include w-to(1200px) {
      span {
        display: none;
      }
      &:first-child {
        .header__icon {
          img {
            width:  22px;
            height: 24px;
          }
        }
      }
      &:nth-child(2) {
        .header__icon {
          img {
            width:  22px;
            height: 20px;
          }
        }
      }
      &:last-child {
        .header__icon {
          img {
            width:  27px;
            height: 26px;
          }
        }
      }
    }
  }

  &__icon {
    width:           35px;
    height:          34px;

    display:         flex;
    justify-content: center;
    align-items:     center;
  }

  &__button {
    width:            144px;
    height:           38px;
    border:           1px solid #00b5ee;
    background-color: #ffffff;

    color:            #00b5ee;
    font-family:      "Open Sans", Helvetica, Arial, sans-serif;
    font-size:        11px;
    font-weight:      400;
    line-height:      21px;
  }
}