<div id="reg" class="popup popup-reg js-popup-reg">
  <form action="php/mail.php" method="post" class="popup-dialog">
    <div class="popup__header">
      <p class="popup__title">Регистрация</p>
      <button class="popup-dialog__close js-close-popup">&times;</button>
    </div>
    <div class="popup__body popup__body-auth">
      <div class="popup__inputs">
        <div class="popup__input" :class="{'invalid': $v.name.$error}">
          <input
            type="text"
            name="user_name"
            placeholder="Имя"
            v-model="name"
            @blur="$v.name.$touch()"
          >
          <div class="invalid-text invalid-text-question" v-if="!$v.name.required && $v.name.$error"><span>Обязательное поле</span></div>
        </div>
        <div class="popup__input" :class="{'invalid': $v.email.$error}">
          <input
            type="email"
            placeholder="E-mail"
            name="user_email"
            v-model="email"
            @blur="$v.email.$touch()"
          >
          <div class="invalid-text invalid-text-question" v-if="!$v.email.required && $v.email.$error"><span>Обязательное поле</span></div>
          <div class="invalid-text invalid-text-question" v-if="!$v.email.email && $v.email.$error"><span>Введите email</span></div>
        </div>
        <div class="popup__input" :class="{'invalid': $v.phone.$error}">
          <input
            type="text"
            placeholder="Телефон"
            name="user_phone"
            v-mask="mask"
            v-model="phone"
            @blur="$v.phone.$touch()"
          >
          <div class="invalid-text invalid-text-question" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
        </div>
        <div class="popup__input" :class="{'invalid': $v.pass.$error}">
          <input
            name="user_password"
            type="password"
            placeholder="Пароль"
            v-model="pass"
            @blur="$v.pass.$touch()"
          >
          <div class="invalid-text invalid-text-question" v-if="!$v.pass.required && $v.pass.$error"><span>Обязательное поле</span></div>
          <div class="invalid-text invalid-text-question" v-if="!$v.pass.minLength && $v.pass.$error"><span>Минимум 6 символов</span></div>
        </div>
        <div class="popup__input" :class="{'invalid': $v.loopPass.$error}">
          <input
            type="password"
            placeholder="Повторите пароль"
            v-model="loopPass"
            @blur="$v.loopPass.$touch()"
          >
          <div class="invalid-text invalid-text-question" v-if="!$v.loopPass.sameAs && $v.loopPass.$error"><span>Пароли должны совпадать</span></div>
        </div>
      </div>
      <div class="popup__social">
        <div class="popup__social-text"><span>Войти как пользователь</span></div>
        <div class="popup__social-icon popup__instagram"><span>Instagram</span></div>
        <div class="popup__social-icon popup__facebook"><span>Facebook</span></div>
        <div class="popup__social-icon popup__vk"><span>Вконтакте</span></div>
      </div>
    </div>
    {% include '../button/button.twig' with {
      type: 'submit',
      text: 'Регистрация',
      class: 'popup__button',
      dis: '$v.$invalid'
    } %}
  </form>
</div>

<div id="auth" class="popup js-popup-auth popup-auth">
  <form action="php/mail.php" method="post" class="popup-dialog">
    <div class="popup__header">
      <p class="popup__title">Авторизация</p>
      <button class="popup-dialog__close js-close-popup">&times;</button>
    </div>
    <div class="popup__body popup__body-auth">
      <div class="popup__inputs">
        <div class="popup__social-text"><span>Войти как пользователь</span></div>
        <div class="popup__input" :class="{'invalid': $v.email.$error}">
          <input
            type="email"
            placeholder="E-mail"
            name="user_email"
            v-model="email"
            @blur="$v.email.$touch()"
          >
          <div class="invalid-text invalid-text-question" v-if="!$v.email.required && $v.email.$error"><span>Обязательное поле</span></div>
          <div class="invalid-text invalid-text-question" v-if="!$v.email.email && $v.email.$error"><span>Введите email</span></div>
        </div>
        <div class="popup__input" :class="{'invalid': $v.pass.$error}">
          <input
            name="user_password"
            type="password"
            placeholder="Пароль"
            v-model="pass"
            @blur="$v.pass.$touch()"
          >
          <div class="invalid-text invalid-text-question" v-if="!$v.pass.required && $v.pass.$error"><span>Обязательное поле</span></div>
          <div class="invalid-text invalid-text-question" v-if="!$v.pass.minLength && $v.pass.$error"><span>Минимум 6 символов</span></div>
        </div>
        <div class="popup__remember">
          <label class="popup__remember-me">
            <input type="checkbox" name="remember" class="popup__checkbox js-check" data-active=""> Запомните меня
          </label> <a class="popup__lost" href="#">Забыли пароль?</a>
        </div>
      </div>
      <div class="popup__social">
        <div class="popup__social-text"><span>Войти как пользователь</span></div>
        <div class="popup__social-icon popup__instagram"><span>Instagram</span></div>
        <div class="popup__social-icon popup__facebook"><span>Facebook</span></div>
        <div class="popup__social-icon popup__vk"><span>Вконтакте</span></div>
      </div>
    </div>
    {% include '../button/button.twig' with {
      type: 'submit',
      text: 'Вход',
      class: 'popup__button',
      dis: '$v.$invalid'
    } %}
  </form>
</div>

<div id="oneClick" class="popup popup-one js-popup-one">
  <form action="php/mail.php" method="post" class="popup-dialog">
    <div class="popup__header">
      <p class="popup__title">Купить в 1 клик</p>
      <button class="popup-dialog__close js-close-popup">&times;</button>
    </div>
    <div class="popup__body">
      <div class="popup__inputs">
        <div class="popup__input" :class="{'invalid': $v.email.$error}">
          <input
            type="email"
            name="user_email"
            placeholder="Ваш email"
            v-model="email"
            @blur="$v.email.$touch()"
          >
          <div class="invalid-text invalid-text-question" v-if="!$v.email.required && $v.email.$error"><span>Обязательное поле</span></div>
          <div class="invalid-text invalid-text-question" v-if="!$v.email.email && $v.email.$error"><span>Введите email</span></div>
        </div>
        <div class="popup__input" :class="{'invalid': $v.phone.$error}">
          <input
            name="user_phone"
            type="text"
            placeholder="Введите Ваш телефон"
            v-mask="mask"
            v-model="phone"
            @blur="$v.phone.$touch()"
          >
          <div class="invalid-text invalid-text-question" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
        </div>
      </div>
    </div>
    {% include '../button/button.twig' with {
      type: 'submit',
      text: 'Отправить',
      class: 'popup__button',
      dis: '$v.$invalid'
    } %}
  </form>
</div>

<div id="question" class="popup popup-question popup-one js-popup-question">
  <form action="php/mail.php" method="post" class="popup-dialog">
    <div class="popup__header popup__header-second">
      <p class="popup__title">Задать вопрос</p>
      <button class="popup-dialog__close js-close-popup">&times;</button>
    </div>
    <div class="popup__body">
      <div class="popup__inputs">
        <div class="popup__input" :class="{'invalid': $v.email.$error}">
          <input
            type="email"
            name="user_email"
            placeholder="Введите Ваш e-mail"
            v-model="email"
            @blur="$v.email.$touch()"
          >
          <div class="invalid-text invalid-text-question" v-if="!$v.email.required && $v.email.$error"><span>Обязательное поле</span></div>
          <div class="invalid-text invalid-text-question" v-if="!$v.email.email && $v.email.$error"><span>Введите email</span></div>
        </div>

        <div class="popup__input mod-textarea" :class="{'invalid': $v.question.$error}">
          <textarea
            name="user_text"
            placeholder="Введите ваш вопрос"
            v-model="question"
            @blur="$v.question.$touch()"
          >
          </textarea>
          <div class="invalid-text invalid-text-question" v-if="!$v.question.required && $v.question.$error"><span>Обязательное поле</span></div>
        </div>
      </div>
    </div>
    {% include '../button/button.twig' with {
      type: 'submit',
      text: 'Отправить',
      class: 'popup__button',
      dis: '$v.$invalid'
    } %}
  </form>
</div>

<div class="popup popup-items popup-one js-popup-items">
  <div class="popup-dialog">
    <div class="popup__header">
      <p class="popup__title">Товар добавлен корзину</p>
      <button class="popup-dialog__close js-close-popup">&times;</button>
    </div>
    <div class="popup__body">
      <div class="popup__cards">
        <div class="popup__item">
          <div class="popup__img"><img src="assets/img/popup/item-1.jpg" alt="Куртка для девочки Stars"></div>
          <div class="popup__parametrs">
            <div class="popup__item-text popup__name">
              <p>Наименование:</p>
              <p>Куртка для девочки Stars</p>
            </div>
            <div class="popup__item-text popup__prop">
              <p>Свойства:</p>
              <p>122, Зеленный</p>
            </div>
            <div class="popup__item-text popup__amount">
              <p>Кол-во:</p>
              <p>1</p>
            </div>
            <div class="popup__item-text popup__cost">
              <p>Стоимость:</p>
              <p>894 грн.</p>
            </div>
            <div class="popup__item-close"></div>
          </div>
        </div>
      </div>
      <div class="popup__final">
        <p class="popup__price-text">Итого, к оплате: </p>
        <p class="popup__price">894 грн</p>
        <div class="popup__amount">
          <p class="popup__amount-text">товаров в корзине: </p>
          <p class="popup__amount-num">2</p>
        </div>
      </div>
    </div>
    <div class="popup__buttons">
      {% include '../button/button.twig' with {
        type: 'submit',
        text: 'Продолжить покупки',
        class: 'popup__button popup__button-next'
      } %}
      {% include '../button/button.twig' with {
        type: 'submit',
        text: 'Оформить заказ',
        class: 'popup__button popup__button-items'
      } %}
    </div>
  </div>
</div>