.popup {
  position:         fixed;
  top:              0;
  left:             0;
  width:            100%;
  height:           100%;
  background-color: rgba(black, 0.5);

  display:          none;
  justify-content:  center;
  align-items:      center;
  z-index:          999;

  @include w-to(750px) {
    padding-top:    165px;
    padding-bottom: 5px;
    overflow:       scroll;
  }

  &__header {
    width:            100%;
    height:           58px;
    background-color: #00b5ee;
    color:            white;
    display:          flex;
    justify-content:  space-between;
    align-items:      center;

    padding-left:     31px;
    padding-right:    33px;

    &-second {
      padding-right: 16px;
    }
  }

  &_active {
    display: flex;
  }

  &-dialog {
    max-width:        736px;
    width:            100%;
    background-color: white;
    position:         relative;
    display:          flex;
    flex-direction:   column;
    align-items:      center;

    &__close {
      font-size: 25px;
      cursor:    pointer;
      @include inc-click-area(5px);
    }
  }

  &__body {
    display:         flex;
    justify-content: space-around;
    width:           100%;
    padding-top:     36px;

    &-auth {
      max-width:       603px;
      justify-content: space-between;
      margin-left:     -77px;
    }
  }

  &__inputs, &__social {
    display:        flex;
    flex-direction: column;
  }

  &__inputs {
    max-width: 331px;
    width:     100%;

    .popup__input {
      height:        51px;
      border:        1px solid #95dbf1;
      margin-bottom: 11px;

      input, textarea {
        width:        100%;
        height:       100%;
        padding-left: 21px;

        opacity:      0.7;
        color:        #242021;
        font-family:  $font-family-default;
        font-size:    14px;
        font-weight:  300;
        line-height:  15px;
      }
    }

    .mod-textarea {
      height:        139px;
      padding-top:   20px;
      margin-bottom: 16px;
    }
  }

  &__social {
    max-width:      214px;
    width:          100%;
    display:        flex;
    flex-direction: column;
    margin-bottom:  20px;

    &-icon {
      height:        48px;
      color:         white;
      margin-bottom: 8px;
      display:       flex;
      align-items:   center;
      border-radius: 2px;
      cursor:        pointer;
    }

    &-text {
      color:         #393939;
      font-family:   $font-family-default;
      font-size:     16px;
      font-weight:   600;
      line-height:   17px;
      margin-bottom: 11px;
    }
  }

  &__instagram {
    background-color: #b1388f;

    &:before {
      content:             '';
      background-image:    url("../assets/img/icons/icon-instagram4.png");
      background-repeat:   no-repeat;
      background-position: center;
      width:               41px;
      height:              41px;
      border-right:        1px solid white;
      margin-right:        16px;
    }
  }

  &__facebook {
    background-color: #3c5a9b;

    &:before {
      content:             '';
      background-image:    url("../assets/img/icons/icon-facebook4.png");
      background-repeat:   no-repeat;
      background-position: center;
      width:               41px;
      height:              41px;
      border-right:        1px solid white;
      margin-right:        16px;
    }
  }

  &__vk {
    background-color: #4f75a3;

    &:before {
      content:             '';
      background-image:    url("../assets/img/icons/icon-vk3.png");
      background-repeat:   no-repeat;
      background-position: center;
      width:               41px;
      height:              41px;
      border-right:        1px solid white;
      margin-right:        16px;
    }
  }

  &__button {
    max-width:     174px;
    width:         100%;
    height:        49px;
    color:         white;

    font-family:   $font-family-default;
    font-size:     16px;
    font-weight:   600;
    line-height:   18px;
    margin-bottom: 36px;
  }

  &__lost {
    color:       #00b5ee;
    font-family: $font-family-default;
    font-size:   14px;
    font-weight: 600;
    line-height: 22px;
  }

  &__remember {
    display:         flex;
    justify-content: space-between;
    margin-top:      8px;
  }

  &__remember-me {
    color:       #393939;
    font-family: $font-family-default;
    font-size:   14px;
    font-weight: 300;
    line-height: 22px;
    display:     flex;
  }

  &__checkbox {
    width:           19px;
    height:          19px;
    border:          thin solid #95dbf1;
    border-radius:   50%;
    cursor:          pointer;
    display:         flex;
    justify-content: center;
    align-items:     center;
    margin-right:    12px;

    &[data-active="1"] {
      &:before {
        content:          '';
        width:            9px;
        height:           9px;
        border-radius:    50%;
        background-color: #00b5ee;
      }
    }
  }

  &-one {
    .popup-dialog {
      max-width: 598px;
    }

    .popup__inputs {
      max-width: 539px;
      width:     100%;
    }

    .popup__body {
      margin-bottom: 6px;
    }
  }

  &-items {
    .popup-dialog {
      max-width: 977px;
      @include w-to(1200px) {
        max-width: 595px;
      }
    }

    .popup__body {
      flex-direction: column;
    }

  }

  &__cards {
    width:         100%;
    padding-left:  31px;
    padding-right: 29px;
  }

  &__img {
    max-width:     165px;
    width:         100%;
    height:        190px;
    margin-bottom: 25px;
  }

  &__item {
    display:         flex;
    justify-content: space-between;

    &-text {
      color:       #393939;
      font-family: $font-family-default;
      font-size:   16px;
      font-weight: 600;
      line-height: 17px;

      p:first-child {
        margin-bottom: 8px;
        padding-top:   6px;
      }

      p:last-child {
        font-weight: 300;
      }
    }

    &-close {
      width:           25px;
      height:          25px;
      border:          1px solid #f87190;
      border-radius:   50%;
      display:         flex;
      justify-content: center;
      align-items:     center;
      margin-top:      18px;
      cursor:          pointer;

      &:before {
        content:      '+';
        color:        #f87190;
        font-size:    30px;
        transform:    rotate(45deg);
        margin-right: -2.1px;
      }
    }
  }

  &__final {
    width:            100%;
    height:           65px;
    background-color: #e0f7fa;
    display:          flex;
    justify-content:  flex-end;
    align-items:      center;
    margin-bottom:    25px;
    position:         relative;

    .popup__amount {
      position:        absolute;
      right:           28px;
      bottom:          109px;
      display:         flex;
      justify-content: space-between;
      max-width:       170px;
      width:           100%;

      color:           #393939;
      font-family:     $font-family-default;
      font-size:       16px;
      font-weight:     600;
      line-height:     17px;

      &-num {
        color: #00b5ee;
      }
    }
  }

  &__price {
    font-family:    $font-family-default;
    font-weight:    600;
    line-height:    17px;
    color:          #00b5ee;
    font-size:      24px;
    padding-right:  28px;
    padding-bottom: 5px;

    &-text {
      font-size:    16px;
      color:        #393939;
      margin-right: 4px;
    }
  }

  &__buttons {
    width:           100%;
    display:         flex;
    padding:         0 29px;
    justify-content: space-between;

    .popup__button-items {
      max-width: 200px;
    }
  }

  &__button-next {
    background-color: #ffffff;
    border:           1px solid #393939;
    max-width:        237px;
    color:            #393939;
  }

  &__parametrs {
    width:           100%;
    max-width:       725px;
    display:         flex;
    justify-content: space-between;

    @include w-to(1200px) {
      flex-direction: column;
    }
  }

  &-auth, &-reg, &-one {
    .popup__header {
      padding-right: 16px;
    }
  }

  &-items {
    .popup__header {
      padding-right: 33px;
    }

    @include w-to(1200px) {
      .popup__header {
        padding-left:  21px;
        padding-right: 14px;
      }
      .popup__title {
        font-size: 17px;
      }
      .popup__body {
        padding-top: 19px;
      }
      .popup__cards {
        padding-left:  65px;
        padding-right: 25px;
        margin-bottom: 13px;
      }
      .popup__img {
        margin-right: 33px;
      }
      .popup__item-text {
        margin-bottom: 11px;
      }
      .popup__parametrs {
        max-height:     305px;
        flex-direction: column;
        flex-wrap:      wrap;
        align-content:  space-between;
      }
      .popup__cost {
        margin-bottom: 56px;
      }
      .popup__item-close {
        margin-top: 0;
      }
      .popup__amount {
        bottom: 85px;
      }
      .popup__final {
        margin-bottom: 15px;
      }
    }
    @include w-to(750px) {
      .popup-dialog {
        max-width: 290px;
      }
      &.popup-one .popup__header {
        padding-left:  21px;
        padding-right: 16px;
      }
      .popup__cards {
        padding-left:  0;
        padding-right: 0;
      }
      .popup__item {
        flex-direction: column;
        align-items:    center;
        position:       relative;
      }
      .popup__img {
        margin-right:  0;
        margin-bottom: 20px;
      }
      .popup__parametrs {
        padding-left: 22px;
      }
      .popup__item-close {
        position: absolute;
        top:      -2px;
        right:    16px;
      }
      .popup__amount {
        bottom: 93px;
        right:  15px;
      }
      .popup__cards {
        margin-bottom: 2px;
      }
      .popup__price-text {
        margin-right: 8px;
      }
      .popup__price {
        padding-right: 15px;
      }
      .popup__buttons {
        flex-direction: column-reverse;
      }
      .popup__button.popup__button-items {
        margin-left:   16px;
        margin-bottom: 20px;
      }
      .popup__button.popup__button-next {
        margin-left: 0;
      }
    }
  }

  &-question, &-one {
    @include w-to(1200px) {
      .popup__body {
        padding-top: 20px;
      }
      .mod-textarea {
        height:        129px;
        margin-bottom: 7px;
      }
      .popup__header {
        padding-right: 27px;
        padding-left:  28px;
        font-size:     17px;
      }
      .popup__button {
        margin-left:   23px;
        margin-bottom: 28px;
      }
    }
    @include w-to(750px) {
      .popup-dialog {
        max-width: 290px;
      }
      .popup__header {
        padding-left:  21px;
        padding-right: 16px;
      }
      .popup__body {
        padding-left:  22px;
        padding-right: 15px;
        margin-bottom: 8px;
      }
      .mod-textarea {
        height: 210px;
      }
      .popup__button {
        margin-left: 0;
      }
    }
  }

  &-reg, &-auth {
    @include w-to(1200px) {
      .popup-dialog {
        max-width: 610px;
      }
      .popup__header {
        padding-left:  19px;
        font-size:     17px;
        padding-right: 28px;
      }
      .popup__body {
        margin-left:   0;
        padding-left:  15px;
        padding-right: 31px;
        padding-top:   29px;
        margin-bottom: 8px;
      }
      .popup__inputs {
        max-width: 298px;
      }
      .popup__social-text {
        margin-bottom: 14px;
      }
      .popup__button {
        margin-left:   37px;
        margin-bottom: 41px;
      }
    }
    @include w-to(750px) {
      .popup-dialog {
        max-width: 290px;
      }
      .popup__header {
        padding-right: 16px;
      }
      .popup__body {
        padding-left:   22px;
        padding-right:  17px;
        padding-top:    19px;
        margin-bottom:  0;
        flex-direction: column;
      }
      .popup__inputs {
        margin-bottom: 20px;
      }
      .popup__button {
        margin-left: 0;
      }
    }
  }

  &-auth {
    @include w-to(1200px) {
      .popup__body {
        padding-top:  23px;
        padding-left: 18px;
      }
      .popup__inputs {
        max-width: 280px;
      }
      .popup__remember {
        margin-top: 5px;
      }
      .popup__social {
        margin-bottom: 10px;
      }
      .popup__button {
        margin-left: 12px;
      }
    }
    @include w-to(750px) {
      .popup__remember {
        flex-direction: column;

        &-me {
          margin-bottom: 4px;
        }
      }
      .popup__lost {
        margin-left: 35px;
      }
      .popup__checkbox {
        margin-right: 17px;
      }
      .popup__inputs {
        margin-bottom: 29px;
      }
      .popup__button {
        margin-left: 0;
      }
      .popup__social {
        margin-bottom: 14px;
      }
    }
  }
}